/* Estilos generales para ambas páginas */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 48px; 
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
}

/* Diseño para la página de inicio de sesión */


.login-page form {
    background-color: #fff;
    padding: 40px; /* Aumentamos el padding para hacerlo más grande */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* Aumentamos el ancho del formulario */
    text-align: center;
    position: relative; /* Mantiene el formulario independiente del título */
}

.login-page input[type="text"], .login-page input[type="password"] {
    width: 100%;
    padding: 12px; /* Aumentamos el padding de los inputs */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px; /* Aumentamos el tamaño de la fuente en los inputs */
}

.login-page input[type="submit"] {
    background-color: #5c9ded;
    color: white;
    padding: 12px 20px; /* Aumentamos el padding del botón */
    border: none;
    border-radius: 5px;
    font-size: 18px; /* Aumentamos el tamaño de la fuente del botón */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.login-page input[type="submit"]:hover {
    background-color: #3a7bcc;
}

/* Diseño para la página de registro de usuario */


.register-page form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.register-page input[type="text"], .register-page input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.register-page input[type="button"] {
    background-color: #5c9ded;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.register-page input[type="button"]:hover {
    background-color: #3a7bcc;
}

/* Diseño para la página de registro de videojuegos */

.añadir-juego form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.añadir-juego input[type="text"], .register-page input[type="number"]{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    appearance: none;
}

.añadir-juego input[type="submit"] {
    background-color: #5c9ded;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.añadir-juego input[type="submit"]:hover {
    background-color: #3a7bcc;
}

/* Estilo de enlaces */
a {
    margin-top: 20px;
    font-size: 16px;
    color: #5c9ded;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3a7bcc;
}

/*Botones con lic al iniciar la aplicación*/
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link-button {
    display: inline-block;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.link-button:hover {
    background-color: #2980b9;
}

.link-button:active {
    background-color: #1e6a8b;
}  

/*Mostrar info usuarios*/
.user-info-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: left;
    font-size: 1.1em;
}

.user-info-container p {
    margin: 10px 0;
    color: #555;
}

.user-info-container strong {
    color: #000;
}
/* Efectos de enfoque en los inputs */
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #5c9ded;
    outline: none;
}



/* Ajustes para pantallas pequeñas */
@media (max-width: 500px) {
    form {
        width: 90%;
    }
}
